.login-card{
  width: 600px;
  height: 400px;
  padding: 30px;
  padding-top: 70px;
  background-color: #073644;
  color: white;
}
.login-main{
  color: white;
  background-image: url('/Icons/Nurse-Background.png');
  background-size: cover;
}
:root{
  font-family: 'Sarala', sans-serif;
}
